*{
    font-family: 'Muller';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.heading{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.heading__logo{
    background-image: url(./logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 261px;
    height: 54px;
}
.heading__number{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
    color: #666666;
}
.heading__account{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.heading__account--text{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    margin-left: 5px;
}
.nav{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 15px;
    align-items: center;
    margin-top: 30px;
}
.nav__gray{
    margin-right: auto;
    display: flex;
}
.nav__gray--item{
    margin-left: 45px;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    transition: 0.2s;
}
.nav__gray--item:hover{
    color: #CC9933;
    cursor: pointer;
    text-decoration: underline;
}

.nav__gold{
    display: flex;
    margin-left: auto;
    background-color: #fff;
}
.nav__gold--item{
    margin-right: 40px;
    padding: 13px 20px;
    border-radius: 15px;
    color: #CC9933;
    border: 1px solid #CC9933;
    transition: 0.2s;
}
.nav__gold--item:hover{
    border-radius: 15px;
    background-color: #CC9933;
    color: #fff;
    cursor: pointer;
}
.intro{
    margin-top: 70px;
}
.h2{
    margin-bottom: 30px;
}
.intro__items{
    display: flex;
    justify-content: space-between;
}
.intro__items--left{
    max-width: 573px;
    display: block;
}

.intro__items--first{
    background-repeat: no-repeat;
    background-image: url(./first.png);
    background-size: cover;
    padding: 0;
    width: 570px;
    height: 258px;
    transition: 0.3s;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 23px;
    padding-top: 40px;
    padding-left: 40px;
}
.intro__items--first:hover{
    position:relative;
    z-index: 2;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}
.intro__items--second{
    background-image: url(./second.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 570px;
    height: 258px;
    transition: 0.3s;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 23px;
    padding-top: 40px;
    padding-left: 40px;
}
.intro__items--heading{
    width: 300px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
}
.intro__items--price{
    font-size: 20px;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 50px;
}
.intro__items--right{
    background-image: url(./third.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 540px;
    transition: 0.3s;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 23px;
    padding-top: 260px;
    padding-left: 40px;
}
